@import url('https://fonts.googleapis.com/css?family=Playfair+Display:1,300,400,400italic,500,700,700italic,900');

body {
    background-color: #030303;
    font-family:'Playfair Display', sans-serif;
    font-weight: 700;
    color: white;
    line-height: 1.6;
    padding: 20px;
}

a {
    color: #ef8fbe;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.terms-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: justify; 
}

.terms-container h1 {
    color: #ef8fbe;
}

.contact-info {
    margin-top: 20px;
    font-weight: bold;
}
