@import url('https://fonts.googleapis.com/css?family=Playfair+Display:1,300,400,400italic,500,700,700italic,900');

:root{

    --main-color: #EF8FB8;
    --primary-color: linear-gradient(104.9deg, #d7c7ae 2.3%, rgb(255, 95, 162) 2.3%, 
    rgb(254, 201, 154) 92.7%);
    --hover: #5a4d3e;
    --black:#2a2a2a;
    --white:#fff;
    --text-pink: #EF8FB8;
    --light-bg:linear-gradient(104.9deg, #d7c7ae 2.3%, rgb(255, 95, 162) 2.3%, 
    rgb(254, 201, 154) 92.7%);;
    --dark-bg:rgba(0,0,0,.7);
    --border:.1rem solid #FFC0CB;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
   font-family: 'Playfair Display', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition: all .2s linear;
}
 

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
}
 
html::-webkit-scrollbar{
    width: .6rem;
}
 
html::-webkit-scrollbar-track{
    background-color: var(--text-pink);
}
 
html::-webkit-scrollbar-thumb{
    background-color: var(--dark-bg);
}

.logo img{
    width: 10rem;
    border-radius: 10px;
}
 
section{
    padding: 5rem 7%;
}

.heading{
   text-align: center;
   text-transform: capitalize;
   margin-bottom: 3rem;
   font-size: 4rem;
   margin-top: 4rem; 
}

.review .heading{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 3rem;
    font-size: 4rem;
    margin-top: 4rem; 
    color: var(--text-pink);
 }

 .visit .heading{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 3rem;
    font-size: 4rem;
    margin-top: 4rem; 
    color: var(--text-pink);
 }

.features .heading {
    color: var(--text-pink);
}
 
button{
    display: block;
    margin: 50px auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 8rem;
    font-size: 1.6rem;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    text-decoration: none;
    color:  var(--text-pink);
    transition: background 0.5s;
}
 
button:hover{
    background: var(--text-pink);
    color: var(--black);
}

#privacy {
    text-align: center;
    font-size: large;
    color:  var(--text-pink);
}

#privacy a {
    color: var(--main-color);
}

#privacy input {
    width: 40px;
}

.privacyPolicy {
    width: 20px;
    height: 20px;
}

/* header */

.header{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    position: sticky;
    top:0; left:0; right: 0;
    background: var(--main-color);
    z-index: 1000;
}
 
.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--black);
    text-transform: capitalize;
}

.header .navbar #close-navbar {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 4rem;
    cursor: pointer;
    color: var(--black);
    display: none;
  }
 
.header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color:var(--black);
    text-transform: capitalize;
}
 
 .header .navbar a:hover{
    padding-bottom: 0.5rem;
    color:var(--primary-color);
 }
 
 #menu-btn{
    font-size: 2.5rem;
    cursor: pointer;
    color:var(--black);
    display: none;
 }

 /* header */

 /* home */

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(../images/home-bg2.png) no-repeat;
    background-size: contain;
    background-color: black;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home .content span{
    font-size: 3rem;
    letter-spacing: .5rem;
    padding-bottom: .5rem;
    color:var(--text-pink);
    text-transform: uppercase;
 }

.home .content h3 {
    color:var(--text-pink);
    font-size: 8rem; 
    line-height: 8rem; 
    font-weight: 900;
}
 /* home */

/* about */

.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about .row .image{
    flex:1 1 39rem;
}

.about .row .image img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.9);
}

.about .row .content{
    flex:1 1 51rem;
    padding:5rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:var(--text-pink);
}

.about .heading {
    font-size: 3rem;
    color:var(--text-pink);
}

.about .row .content p{
    font-size: 1.6rem;
    color:#d7c2c2;
    padding:1rem 0;
    line-height: 1.8;
    text-align: justify;
}

.about .content .icons-container{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    margin-top: 3rem;
 }
 
 .about .content .icons-container .icons{
    flex:1 1 16rem;
    text-align: center;
    background: var(  --main-color);
    padding:3rem 2rem;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.9);
 }
 
 .about .content .icons-container .icons img{
    height: 5rem;
}
 
.about .content .icons-container .icons h3{
    padding-top: 1rem;
    font-size: 1.6rem;
    color:#444;
    font-weight: normal;
    text-transform: capitalize;
 }

/* about */


/* services */

.services{
    background-color: var(--main-color);
 }

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:2rem;
 }
 
 .services .box-container .box{
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: -1px 1px 4px rgba(0,0,0,.6);
 }

 .services .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
 }
 
 .services .box-container .box:hover img {
    transform: scale(1.1);
 }
 
 .services .box-container .box .content{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0; left:0;
    z-index: 10;
    height: 100%;
    width: 100%;
    background: var(--dark-bg);
 }
 
 .services .box-container .box .content h3{
    text-align: center;
    font-size: 3rem;
    color:var(--text-pink);
    padding-top: 20rem;
    text-transform: capitalize;
 }

 .services .box-container .box:hover .content{
    display: flex;
 }

 /* services */

 /* features */

.features {
    padding: 50px 12%;
    font-size: 22px;
}

.row {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10rem;
}

.text-col {
    flex-basis: 50%;
    margin-bottom: 10px;
}

.text-col h2 {
    color: #de8493;
}

.text-col p {
    color: #d7c2c2;
}

.img-col {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.img-col img {
    display: block;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 1px 2px 4px rgb(0, 0, 0, 0.9);
}

.features h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
    --text-pink: #de8493;

}

/* features end */

/* styles */

.styles{
    background: var(--light-bg);
}
 
.styles .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}
 
.styles .box-container .box .image{
    overflow:hidden;
    width: 100%;
    text-align: center;
 }
 
.styles .box-container .box .image img{
    object-fit: cover;
}
 
.styles .box-container .box .content{
    text-align: center;
}
 
.styles .box-container .box .content .title{
    font-size: 2.5rem;
    color:var(--primary-color);
    text-transform: capitalize;
}
 
.styles .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color:#444;
    padding:1rem 0;
}

.custom-checkbox {
    width: 60px;
    height: 25px;
    cursor: pointer;
}

/* styles */

/* review  */

.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.review .box-container .box{
    border:var(--border);
    text-align: center;
    padding:3rem 2rem;
}

.review .box-container .box .user{
   width: 10rem;
}

.review .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color:#d7c2c2;
    padding:2rem 0;
}

.review .box-container .box h3{
    padding:1rem 0;
    font-size: 2rem;
    color:var(--text-pink);
    text-transform: capitalize;
}

.review .box-container .box .stars i{
    font-size: 1.5rem;
    color:var(--text-pink);
}

/* review end */

/* footer */
.footer {
    background: var(--main-color);
    text-align: center;
  }
  
  .footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
  }
  
  .footer .box-container .box h3 {
    font-size: 2.2rem;
    text-transform: capitalize;
    color: var(--primary-color);
    padding: 1rem 0;
  }
  
  .footer .box-container .box p {
    font-size: 1.5rem;
    line-height: 2;
    color: var(--black);
    padding: 1rem 0;
  }
  
  .footer .box-container .box .share {
    margin-top: 1rem;
  }
  
  .footer .box-container .box .share a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 50%;
    font-size: 1.7rem;
    color: var(--primary-color);
    margin-right: .3rem;
    text-align: center;
  }

  .footer .box-container .box .link {
    font-size: 1.7rem;
    line-height: 2;
    color: var(--primary-color);
    padding: .5rem 0;
    display: block;
    text-decoration: underline;
  }
  
  .footer .box-container .box .link:hover {
    color: var(--black);
    text-decoration: underline;
  }
  
  .footer .box-container .box .email {
    width: 100%;
    padding: 1.2rem 1.4rem;
    font-size: 1.6rem;
    border: 0.1rem solid var(--primary-color);
    margin-bottom: 1rem;
  }
  
  .footer .credit {
    text-align: center;
    margin-top: 3rem;
    padding-top: 3rem;
    font-size: 2rem;
    text-transform: capitalize;
    color: #444;
    border-top: 0.1rem solid var(--primary-color);
  }
  
  .footer .credit span {
    color: var(--primary-color);
  }

  /* Terms and conditions */

 

@media (max-width:991px){

    html{
        font-size: 55%;
     }

    .header .navbar a {
        font-size: 1.7rem;
    }
  
     section{
        padding:3rem 2rem;
     }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

     .header .navbar {
        position: fixed;
        top: 0;
        right: -105%;
        width: 30rem;
        background: #FFC0CB;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column;
                flex-flow: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        z-index: 1200;
      }

      .header .navbar #close-navbar {
        display: block;
      }

      .header .navbar.active {
        right: 0;
      }
      
      .header .navbar a {
        display: block;
        margin: 1rem 0;
        text-align: center;
        font-size: 3rem;
      }

    .home .content h3{
        font-size: 5.5rem;
    }

    .logo img{
        width: 6rem;
        border-radius: 10px;
    }

    .text-col h2, p {
        font-size: 3rem;
        text-align: center;
    }

    .text-col, .img-col{
        flex-basis: 100%;
    }

    .row:nth-child(2), .row:nth-child(4){
        flex-direction: column-reverse;
    }

    .features .row{
        padding: 10px 0;
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .logo img{
        width: 6rem;
        border-radius: 5px;
    }

}